html, body{
	margin: 0;
	padding: 0;
}

body 
{
    font-family: Verdana, Arial;
	background-color: white;
}

div.topNavHeader{
	display: block;
	position: fixed;
	height: 65px;
	border-bottom: 1px solid #ee3224;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 3px 2px 3px #777;
	z-index: 50;
}

img.techlabLogo-sm{
	width: auto;
	height: 64px;
	border: 0;
}

.pageFullContentWidth{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.nav{
	margin: 0;
	padding: 0;
}
ul.nav{
	list-style: none;
	font-size: 0.8em;
}
ul.nav li{
	margin-bottom: 10px;
}

.sidebar h2:first-child{
	margin-top: 0px;
}


.sidebar h3{
	margin-top: 12 	px;
	margin-bottom: 5px;
	font-size: 1.05em;
}

.mainContent{
	margin-top: 76px;
	margin-bottom: 65px;
}

.externalLink {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAZ0lEQVQ4T72SOw7AIAxDjcS9aS/eVokaKTIQPgMsLH7GDklYPGlRDwFegszkAlDYMAJEW0EeyAAeejEEuM8wkgdYfP9dio/UA0QsBtqpB1hhfysRATxRHf9ZYGpLWj8dglvLNxXFRB/GxxqH+ITtZwAAAABJRU5ErkJggg==");
	width: 12px;
	height: 16px;
	display: inline-block;
	margin-left: 4px;
	vertical-align: bottom;
}
.centerContent p:first-child{
	margin-top: 0;
	-webkit-margin-before: 0;
}

.contentGrid{
	display: grid;
	display: -ms-grid;
	grid-auto-rows: minmax(100px, auto);
	-ms-grid-auto-rows: minmax(100px, auto);
}

.cell{
	border: 1px solid #777;
	padding: 8px;
	border-radius: 4px;
}


.footer{
	position: fixed;
	border-top-right-radius: 1em;
	bottom: 0;
	padding: 15px;
	font-size: 0.8rem;
	background: white;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-radius-
}


@media screen and (max-width: 767px ){
	.contentGrid .cell{
		margin-bottom: 10px;
	}
	.contentGrid{
		display: block;
	}
}

@media screen and (max-width: 899px) and (min-width: 768px ){
	.contentGrid .cell{
		margin-bottom: 10px;
	}
	.contentGrid{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 10px;
		-ms-grid-columns: 3fr 1fr;
		-ms-grid-gap: 10px;
	}
	.contentGrid .left-sidebar{
		grid-row: 2;
		-ms-grid-row: 2;
	}
	.contentGrid .right-sidebar{
		-ms-grid-column: 2;
	}
}

@media (min-width: 900px){
	.contentGrid{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 3fr 1fr;
		grid-gap: 25px;
		-ms-grid-columns: 1fr 3fr 1fr;
		-ms-grid-gap: 25px;
	}
	.contentGrid .left-sidebar{
		grid-row: 1;
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		margin-right: 10px;
	}
	.contentGrid .centerContent{
		-ms-grid-column: 2;
	}
	.contentGrid .right-sidebar{
		-ms-grid-column: 3;
		margin-left: 10px;
	}
}


@media (min-width: 1200px) {
}
