html, body{
	margin: 0;
	padding: 0;
	font-family: open sans, Arial;
}
body section.intro{
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	font-size:1em;
	margin-bottom: 30px;
}
hr {
	margin-top: 30px;
	margin-bottom: 30px;
}
.pageWrap{
	margin-left:auto;
	margin-right:auto;
}
.pageWrap.wd80{
	width:80%;
}
.pageWrap.wd50{
	width:50%;
}
.pageWrap.wd30{
	width:30%;
}
.pageWrap.wd25{
	width:25%;
}
.pageWrap.wd20{
	width:20%;
}

@media (max-width: 800px){
	.pageWrap.wd30 {
		width: auto;
	}
	
	.pageWrap h4{
		margin-right: 5px;
	}
}

.clearfix{
	clear: both;
}

.pageWrap.clearfix{
	margin-top: 35px;
}

.pageWrap .adWrap{
	margin-bottom: 10px;
	padding-bottom: 25px;
	border-bottom: 1px solid #aaa;
}

.pageWrap.linearLayout .adWrap{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 300px;
}

.justify{
	margin-left: auto;
	margin-right: auto;
}
.width70{
	width: 70%;
}

/*
.iab-adcontent.autoscale iframe{
	min-width:auto;
	min-height: auto;
}
*/
.iab-adcontent.hideoverflow{
	overflow: hidden;
}
.iab-adcontent.hideYoverflow{
	overflow-y: hidden;
}
.iab-adcontent.hideYoverflow::-webkit-scrollbar { 
    display: none; 
}

.em{
	font-weight: bold;
}

@media (min-width: 1000px){
	.iab-flexsizer.flex-6x1 + div.iab-adcontent{
		min-width: 450px;
		min-height: 75px;
		max-width: 600px;
		max-height: 100px;
	}
	.flex-6x1 + div.iab-adcontent iframe{
		min-width: 600px;
		min-height: 100px;
	}
}
